.Toolbar {
  height: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.Toolbar li {
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #ccc;
}

.Toolbar .faves {
  background-color: #fff;
  padding-top: 5px;
  margin-right: 5px;
}

.Toolbar .faves img {
  width: 120%;
  transform: rotate(-3deg);
  transition: width 0.5s ease-in, transform 0.75s;
}

.Toolbar .faves img:hover {
  /* width: 135%; */
  /* transform: center; */
  transform: rotate(3deg) scale(1.35);
}
