.Search {
  width: calc(55% + 20px);
  margin: 0 auto;
}

.Search input {
  width: 55%;
  padding: 10px;
  position: absolute;
  top: 44%;
  color: #666;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 1.35em;
  /* font-style: italic; */
  z-index: 25;
}

.Search.touched input {
  color: #333;
  font-style: normal;
}
