.Register .notRegistered {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 65%;
  z-index: 50;
}

.Register .notRegistered > div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: calc(100% - 4.3em);
}

.Register .notRegistered > p {
  font-style: italic;
}
